{% extends "store/base_site.html" %}

{% block content %}
<h2 class="fw-bold mb-4">Sản phẩm nổi bật</h2>
<div class="row g-2">
    {% load format_filters %}
    {% for product in products %}
    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <a href="{% url 'product_detail' category_slug=product.category.slug product_slug=product.slug %}" class="text-decoration-none text-dark">
            <div class="card h-100 shadow-sm border-0 p-2">
                <img src="{{ product.thumbnail.image.url }}" class="card-img-top"
                     style="width: 100%; height: 160px; object-fit: contain;"
                     alt="{{ product.name }}">
                <div class="card-body p-2" style="height: 140px;">
                    <h6 class="card-title text-primary mb-1"
                        style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
                               overflow: hidden; text-overflow: ellipsis;">
                        {{ product.name }}
                    </h6>

                    <p class="text-danger fw-bold mb-0">{{ product.get_variant.price|currency }}</p>
                    <div>
                        {% if product.average_star > 0 %}
                            <span class="text-dark small align-items-center gap-1">
                                <i class="bi bi-star-fill text-warning"></i>
                                {{ product.average_star|floatformat:1 }}
                            </span>
                        {% endif %}
                        {% if product.sold > 0 %}
                            <span class="small text-muted">• Đã bán: {{ product.sold|smart_number }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}

</div>
{% endblock %}
