{% extends "store/base_site.html" %}
{% load static %}
{% block title %}Danh sách sản phẩm{% endblock %}

{% block content %}


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none">Trang chủ</a></li>
        {% if category %}
            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
        {% elif brand %}
            <li class="breadcrumb-item active" aria-current="page">{{ brand.name }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
        {% endif %}

    </ol>
</nav>

<h1 class="fw-bold mb-4">
    {% if category %}
        {{ category.name }}
    {% else %}
        Danh sách sản phẩm
    {% endif %}
</h1>

{% include "store/partials/product_list.html" with products=products layout="horizontal" %}
{% endblock %}
