.bg-gradient-jade {
    background: linear-gradient(90deg, #38ef7d 0%, #11998e 100%);
    color: white; /* nếu chữ cần trắng cho dễ đọc */
}
.bg-gradient-jade-light {
    background: linear-gradient(90deg, #b2f4d0 0%, #a0dcd6 100%);
    color: #004f48; /* Chữ xanh đậm dễ đọc trên nền nhạt */
}
